#header-container, #hero-container {
    display: flex;
    background-color: #1F2937;
    
    
}
#header-logo-container{
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    margin: 10px;
    align-self: baseline;
}
#header-link-container {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
    align-self:flex-end;
    vertical-align: top;
    
}
#hero-container{
    flex-direction: row;
    font-size: 48px;
    color: #F9FAF8;
    
}
.hero-container-text{
    flex: 1;
    text-align: center;
}
.hero-container-img {
    flex: 1 0 auto;
    align-items: center;
    
}
.main-body-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.quote-container {
    background-color: #E5E7EB;
}
.call-to-action-container{
    display: flex;
    align-items: center;
    justify-content: center;
}